.row1 {
    height:150px;
    width:150px;
    margin:0px 20px 20px 0px;
    background:red;
    display:inline-block;
}

.row2 {
    height:150px;
    width:150px;
    margin:0px 20px 20px 0px;
    background:red;
    float:left;

}

.row3 {
    height:150px;
    width:150px;
    margin:0px 20px 20px 0px;
    background:red;
    position:relative top 0 left 0;

}
